<aside [class.toggle]="_asideService.isActive">
    <div class="searchSection">
        <h1>Znajdź swoją książkę</h1>
        <input class="inputSearch" type="search" placeholder="Szukaj..." />
    </div>
    <div class="filterSection">
        <a class="filterItem">Nowości</a>
        <a class="filterItem">Dostępne</a>
        <a
            class="filterItem"
            (click)="_asideService.isActive = false"
            [routerLink]="['/books', item]"
            *ngFor="let item of getGenre()"
        >
            {{ item }}
        </a>
    </div>
</aside>
