<div class="wrapper">
    <div class="firstSection">
        <div class="image"></div>
    </div>
    <div class="secondSection">
        <h1>Logowanie</h1>
        <form class="login--form formWrapper">
            <div>
                <label class="login--label">Login</label>
                <input class="input--primary" />
            </div>
            <div>
                <label class="login--label">Hasło</label>
                <input class="input--primary" />
            </div>
            <p class="login--label redirect--login" routerLink="/register">
                Nie posiadasz konta, kliknji tutaj
            </p>
            <p class="login--label redirect--login" routerLink="/">
                Chcę kontynuować bez logowania
            </p>
            <button class="btn--secondary" type="submit">Zaloguj</button>
        </form>
    </div>
</div>
