<appHeader></appHeader>

<div class="wrapper">
    <aside>
        <ul>
            <li
                routerLink="/account/summary"
                routerLinkActive="active"
                (click)="changeLocation('summary')"
            >
                Moje dane
            </li>
            <li
                routerLink="/account/changePassword"
                routerLinkActive="active"
                (click)="changeLocation('changePassword')"
            >
                Zmiana hasła
            </li>
            <li
                routerLink="/account/changeQuestion"
                routerLinkActive="active"
                (click)="changeLocation('changeQuestion')"
            >
                Zmana weryfikacji
            </li>
        </ul>
    </aside>
    <main>
        <h1>{{ locationTitle() }}</h1>
        <div class="grid" *ngIf="location === 'summary'">
            <p class="gridLabel">Imię</p>
            <p>{{ getUserData.firstName || 'siemka' }}</p>
            <p class="gridLabel">Nazwisko</p>
            <p>{{ getUserData.lastName || 'siemka' }}</p>
            <p class="gridLabel">Płeć</p>
            <p>{{ getUserData.gender || 'siemka' }}</p>
            <p class="gridLabel">Data założenia konta</p>
            <p>{{ getUserData.creationDate || 'siemka' }}</p>
            <p class="gridLabel">Data urodzenia</p>
            <p>{{ getUserData.gender || 'siemka' }}</p>
            <p class="gridLabel">Email</p>
            <p>{{ getUserData.email || 'siemka' }}</p>
        </div>
        <div class="changeSection" *ngIf="location === 'changePassword'">
            <form class="changeForm">
                <label class="label--primary">Podaj aktualne hasło</label>
                <input class="input--primary" />
                <label class="label--primary">Podaj nowe hasło</label>
                <input class="input--primary" />
                <label class="label--primary">Potwierdź nowe hasło</label>
                <input class="input--primary" />
                <button class="btn--secondary">Zmień</button>
            </form>
        </div>
        <div class="changeSection" *ngIf="location === 'changeQuestion'">
            <form class="changeForm">
                <label class="label--primary">Podaj hasło</label>
                <input class="input--primary" />
                <label class="label--primary">Pytanie weryfikacyjne</label>

                <select class="input--primary" name="question" formControlName="question">
                    <option [value]="">--Wybierz pytanie--</option>
                    <option [value]="question" *ngFor="let question of questions">
                        {{ question }}
                    </option>
                </select>
                <label class="label--primary">Podaj nową odpowiedź</label>
                <input class="input--primary" />
                <button class="btn--secondary">Zmień</button>
            </form>
        </div>
    </main>
</div>
