@import 'src/styles.scss';

header {
    width: 100vw;
    height: 10vh;
    background: map-get($colors, 'main-gradient');
    padding: 0 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-section {
        display: flex;
        align-items: center;

        :first-child {
            margin-right: 10px;
        }

        .hamburger {
            cursor: pointer;

            .line {
                display: block;
                margin-top: 6px;
                width: 30px;
                height: 3px;
                background-color: map-get($colors, 'white');
                border-radius: 20px;
            }

            @include respond-to('medium') {
                display: none;
            }
        }
    }

    .isActive {
        display: none;
    }

    .panel {
        font-size: map-get($font-size, '10');
        font-weight: 600;

        a:first-child {
            padding: 15px;
        }

        @include respond-to('extra-small') {
            font-size: map-get($font-size, '16');
        }
        @include respond-to('medium') {
            font-size: map-get($font-size, '20');
        }
    }

    .user-control {
        display: flex;

        select {
            background: none;
            border: none;
            width: 20px;

            //TODO ostylować select element i option
        }
    }
}
