<header>
    <div class="logo-section">
        <div *ngIf="isHide" (click)="_asideService.hide()" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <a [href]="'#'">LOGO</a>
    </div>
    <div *ngIf="!isLoggedIn" class="panel">
        <a routerLink="/register">Rejestracja</a>
        <a routerLink="/login">Logowanie</a>
    </div>
    <div class="user-control" *ngIf="isLoggedIn">
        <p>Witaj {{ user }}</p>
        <select (change)="navigationSelect($any($event.target).value)">
            <option></option>
            <option class="option-panel" value="myBooks">Moje książki</option>
            <option class="option-panel" value="account">Moje konto</option>
            <option class="option-panel">Wyloguj się</option>
        </select>
    </div>
</header>
