<appHeader></appHeader>

<div class="wrapper">
    <appFilter></appFilter>
    <div class="books-wrapper">
        <a
            [href]='"#"+book.id'
            class="book-image"
            *ngFor="let book of books"
            (click)="getBookId(book.id)"
        >
            <img
                [class.available]="book.isAvailable"
                [class.disabled]="!book.isAvailable"
                [src]="book.coverUrl"
                alt=""
            />
            <p *ngIf="!book.isAvailable">Niedostępna</p>
        </a>
    </div>

    <div *ngIf="isDisplayedBook !== null">
        <appBookCard [selectedBook]="this.isDisplayedBook"></appBookCard>
    </div>
    <div class="pageControlButton">
        <button *ngFor="let page of pageNumbers" (click)="changePage(page)">{{page}}</button>
    </div>
</div>
